<form>
    <label>ID</label>
    <input type="text" name="id_contacto" readonly><br>

    <label>Nombre</label>
    <input type="text" name="nombre"><br>

    <label>Primer Apellido</label>
    <input type="text" name="primer_apellido"><br>

    <label>Segundo Apellido</label>
    <input type="text" name="segundo_apellido"><br>

    <label>Email</label>
    <input type="email" name="email"><br>

    <label>Teléfono</label>
    <input type="tel" name="telefono"><br>

    <button name="regresar">Regresar</button>
</form>